body {
    width: 900px;
    margin: auto;
}

#logo-area {
    display: grid;
    grid-template-rows: 30px 12px;
    grid-template-columns: 45px 100px;
    grid-template-areas: "logo" "delicious"
                         "logo" "tagline";
    float: left;
}

#logo-area img {
    grid-area: logo;
}

h1 {
    grid-area: delicious;
}

#social-icons {
    float: right;
}


.hr {
    background-image: url("./assets/hr-img.png");
    background-repeat: repeat-y repeat-x;
    width: 100%;
    height: 15px;
 }

 h1 {
    font-family: 'Pacifico', cursive;
    font-style: italic;
 }

 .tagline {
    font-family: 'Fira Code', monospace;
    text-transform: uppercase;
    font-size: .4em;
    grid-area: tagline;
 }

 h2 {
     font-family: Heebo;
     font-size: 36px;
 }

 .metadata, .print {
     font-family: Fira Code;
     text-transform: uppercase;
     font-size: .75em;
     color: #a1a1a1;
 }

 p {
    font-family: Georgia;
    text-indent: 3%;
 }

label {
    font-family: Comic Sans MS;
    font-size: 18px;
}

h3 {
    font-family: Georgia;
    font-weight: 700;
    font-size: 18px;
}

.footer-text {
    font-size: 14px;
    color: #a1a1a1;
}

.share {
    background-color: #bb705b;
    font-family: Roboto;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    padding: 15px 35px;
}

.recipe {
    background-image: url('./assets/list-bg.png');
    background-size: 100%;
    height: 305px;
}