body {
    width: 900px;
    margin: auto;
}

#top-header {
    display: flex;
}

#top-header img {
    display: flex;
    align-self: center;
}

#logo-area {
    display: flex;
    flex-direction: column;
}

#social-icons {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}

.hr {
    background-image: url("./assets/hr-img.png");
    background-repeat: repeat-y repeat-x;
    width: 100%;
    height: 15px;
 }

 h1 {
    font-family: 'Pacifico', cursive;
    font-style: italic;
 }

 .tagline {
    font-family: 'Fira Code', monospace;
    text-transform: uppercase;
    font-size: .4em;
    grid-area: tagline;
 }

 h2 {
     font-family: Heebo;
     font-size: 36px;
 }

 .metadata, .print {
     font-family: Fira Code;
     text-transform: uppercase;
     font-size: .75em;
     color: #a1a1a1;
 }

 .indent {
    font-family: Georgia;
    text-indent: 3%;
 }

label {
    font-family: Comic Sans MS;
    font-size: 18px;
    line-height: 2.3em;
}

h3 {
    font-family: Georgia;
    font-weight: 700;
    font-size: 18px;
}

.footer-text {
    font-size: 14px;
    color: #a1a1a1;
}

.share {
    background-color: #bb705b;
    font-family: Roboto;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    padding: 15px 35px;
    display: flex;
    align-self: center;
    
}

.recipe {
    background-image: url('./assets/list-bg.png');
    background-size: cover;
    height: 305px;
    color:#424242;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 37px 55px;
    margin-bottom: 30px;
    margin-top: 30px;
}
    
.striked {
    text-decoration: line-through
}

.left {
    height:100%;
    display:flex;
    flex-direction: column;
}
    
.right{
    height:100%;
    display:flex;
    flex-direction: column;
    margin-left:150px;
    flex-wrap:wrap;
    width:400px;
}
    
.about-author {
    display:flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    text-align: left;
    margin-bottom: 30px;
}

#vanessa-text {
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
}

.about-author img {
    display: flex;
    align-self: center;
}

.about-author p {
    font-family: Georgia;
    color:#707070;
}

